#um{
    float: left;
}

#dois{
    float: left;
}

#tres{
    float: left;
}

#chu-um{
    margin-left: 90px;
}

#chu-dois{
    margin-left: 270px;
}

#chu-tres{
    margin-left: 150px;
}

#pr-um{
    margin-left: 150px;
}

#pr-dois{
    margin-left: 330px;
}

#pr-tres{
    margin-left: 210px;
}
#a{
    margin-left: 190px;
}

#b{
    margin-left: 370px;
}

#c{
    margin-left: 250px;
}

#lblvalor-um{
    margin-left: 100px;
}

#lblvalor-dois{
    margin-left: 280px;
}

#lblvalor-tres{
    margin-left:160px;
}

#put-um{
    margin-left: 0px;
}

#put-dois{
    margin-left: 0px;
}

#put-tres{
    margin-left: 0px;
}

img{
    max-width: 100%;
}

body{
    font-size: 105%;
}

#prchu-um{
    margin-left: 155px;
}

#prchu-dois{
    margin-left: 335px;
}

#prchu-tres{
    margin-left:215px ;
}